body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
main {
  padding-top: 70px;
}

/*===============NAVIGATION START*/

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position: relative;
  z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.hamburger {
  top: 0;
  right: 0;
  float: right;
  padding: 10px 20px;
  width: 40px;
  cursor: pointer;
  margin: 3px;
}

.pushy__title {
  color: #5d5d5d;
  font-weight: 400;
}

.pushy {
  background: #fff;
}

.pushy a {
  color: #000;
  font-weight: 400;
}

.pushy a:hover {
  background: #8330a9;
}

.menu-btn {
  width: 100%;
  position: fixed;
  color: white;
  font-size: 18px;
  /* opacity: 0.9; */
  border-bottom: 3px solid #5B1E71;
  background: #8330a9;

}

.menu-text {
  right: 0;
  display: inline-block;
  position: fixed;
  cursor: pointer;
  margin: 12px 70px 0 0;
}

.logo {
  position: fixed;
  left: 0;
  color: white;
  font-size: 28px;
  letter-spacing: 2px;
  margin: 6px 17px 0px 23px;
}

/*===============NAVIGATION END*/

/*===============MAIN CONTENT START*/
main {
  width: 90%;
  margin: auto;
}
main p {
  font-weight: 300;
  font-size: 16px;
}
#alleman-sketch {
  display: block;
  margin: auto;
  padding: 30px 0px 30px 0px;
}

h1 {
  text-align: center;
}

main ul#home-links {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

main ul#home-links li {
  display: inline-block;
  color: #8330a9;
  font-weight: 300;
  font-size: 14px;
  padding: 10px 0;
}

main ul#home-links li a {
  text-decoration: none;
  opacity: 0.6;
}

main ul#home-links li a:hover {
  opacity: 1;
}

/*===============MAIN CONTENT END*/

/*===============FOOTER START*/
footer {

  /*background-color: #E4E4E4;*/
  width: 100%;
}

footer p {
  font-size: 12px;
  color: #acacac;
  padding: 15px;
  margin: 0;
  text-align: center;
}

hr {
  display: block; height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

footer ul {
  list-style-type: none;
  margin: auto;
  text-align: center;
  padding: 0;
  font-size: 12px;
}
footer ul li {
  display: block;

}
footer a {
  font-size: 12px;
  text-decoration: none;
  color: #acacac;
}
footer a:hover {
  text-decoration: underline;
  color: #000;
}

footer a#footer-email {
  display: block;
  text-align: center;
  padding-top: 10px;
}
/*===============FOOTER END*/





/*===============MEDIA QUERIES*/
@media screen and (max-width: 800px) {
  .menu-text {
    display: none;
  }
}