body {
  padding: 0;
  margin: 0;
}
main {
  padding-top: 70px;
}

/*===============NAVIGATION START*/

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position: relative;
  z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.hamburger {
  top: 0;
  right: 0;
  float: right;
  padding: 10px 20px;
  width: 40px;
  cursor: pointer;
  margin: 3px;
}

.pushy__title {
  color: #5d5d5d;
}

.pushy {
  background: #fff;
}

.pushy a {
  color: #000;
}

.pushy a:hover {
  background: #8330a9;
}

.menu-btn {
  width: 100%;
  position: fixed;
  background: #8330a9;
  color: white;
  font-family: sans-serif;
  font-size: 18px;
  opacity: 0.9;
}

.menu-text {
  right: 0;
  display: inline-block;
  position: fixed;
  cursor: pointer;
  margin: 14px 70px 0 0;
}

.logo {
  position: fixed;
  left: 0;
  color: white;
  font-family: sans-serif;
  font-size: 28px;
  margin: 8px 17px 0px 23px;
}

/*===============NAVIGATION END*/

/*===============MAIN CONTENT START*/

#alleman-sketch {
  display: block;
  margin: auto;
  padding: 80px 0px 50px 0px;
}

h1 {
  text-align: center;
}

@media screen and (max-width: 800px) {
  .menu-text {
    display: none;
  }
}