html, body {
  overflow-x: hidden;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
main {
  padding-top: 70px;
}

/*===============NAVIGATION START*/

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position: relative;
  z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.hamburger {
  top: 0;
  right: 0;
  float: right;
  padding: 10px 20px;
  width: 40px;
  cursor: pointer;
  margin: 3px;
}

.pushy__title {
  color: #5d5d5d;
  font-weight: 400;
}

.pushy {
  background: #fff;
}

.pushy a {
  color: #000;
  font-weight: 400;
}

.pushy a:hover {
  background: #8330a9;
}

.menu-btn {
  width: 100%;
  opacity: 0.95;
  position: fixed;
  color: white;
  font-size: 18px;
  /* opacity: 0.9; */
  border-bottom: 3px solid #5B1E71;
  background: #8330a9;
  z-index: 999999;
}

.menu-text {
  right: 0;
  display: inline-block;
  position: fixed;
  cursor: pointer;
  margin: 12px 70px 0 0;
}

.logo {
  position: fixed;
  left: 0;
  color: white;
  font-size: 28px;
  letter-spacing: 2px;
  margin: 6px 17px 0px 23px;
  z-index: 9999999;
  font-weight: 200;
  text-transform: uppercase;
}

.logo span {
  font-weight: 700;
}

#menu-open:hover {
  opacity: 0.8;
}

/*===============NAVIGATION END*/

/*===============MAIN CONTENT START*/
main {
  width: 100%;
  margin: auto;
}
main p {
  font-weight: 300;
  font-size: 16px;
  padding: 0 20px;
}
main a {
  text-decoration: none;
  color: #8330a9;
  font-weight: 400;
}
main a:hover {
  text-decoration: underline;
}
#alleman-sketch {
  display: block;
  margin: auto;
  padding: 30px 0px 30px 0px;
}

h1 {
  text-align: center;
}

h1 a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}
h1 a:hover {
  text-decoration: none;
  color: #000;
}


main ul#home-links {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

main ul#home-links li {
  display: inline-block;
  color: #8330a9;
  font-weight: 300;
  font-size: 14px;
  padding: 10px 0;
}

main ul#home-links li a {
  text-decoration: none;
}

main ul#home-links li a:hover {
  text-decoration: underline;
}

#image-links {
  display: none;
}

main #hr2 {
  display: none;
}

main #last-hr {
  display: none;
}

ul#activities-list {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

ul#activities-list li{
  padding: 7px 0;
}

ul#contact-list {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

/*===============MAIN CONTENT END*/

/*===============PUBLICATIONS START*/

.publications-content {
  padding: 0 15px;
  list-style-type: none;
}

.publications-content li {
  padding: 7px 0;
}

/*===============PUBLICATIONS END*/

/*===============FOOTER START*/
footer {

  /*background-color: #E4E4E4;*/
  width: 100%;
}

footer p {
  font-size: 12px;
  color: #acacac;
  padding: 15px;
  margin: 0;
  text-align: center;
}

hr {
  display: block; height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

footer ul {
  list-style-type: none;
  margin: auto;
  text-align: center;
  padding: 0;
  font-size: 12px;
}
footer ul li {
  display: block;

}
footer a {
  font-size: 12px;
  text-decoration: none;
  color: #acacac;
}
footer a:hover {
  text-decoration: underline;
  color: #000;
}

footer a#footer-email {
  display: block;
  text-align: center;
  padding-top: 10px;
}
/*===============FOOTER END*/




/*===============MEDIA QUERIES*/
@media screen and (min-width: 650px) {
  main {
    width: 75%;
  }
  hr#last-hr {
    display: block;
  }
  hr#footer-hr {
    display: none;
  }
  footer ul li {
    display: inline-block;
  }
  footer ul li::after {
    content: " | ";
    color: #acacac;
  }
  footer ul li:last-child::after {
    content: none;
  }

}

@media screen and (min-width: 750px) {
  /*SADIE HOVER EFFECT*/
  main #hr2 {
    display: block;
  }
  #image-links {
    width: 100%;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* margin: auto; */
    text-align: center;
  }
  /*#image-links img {
    opacity: 0.4;
  }
  #image-links img:hover {
    opacity: 1;
  }*/
  #image-links figure {
    position: relative;
    display: inline-block;
    /* float: left; */
    overflow: hidden;
    text-align: center;
    margin: 15px 1%;
    /* min-width: 320px; */
    /* max-width: 350px; */
    max-height: 350px;
    width: 30%;
    height: 300px;
    /* background: #3085a3; */
    text-align: center;
    cursor: pointer;
    z-index: 1;
  }


  figure.effect-sadie figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(91, 30, 113, 1) 120%);
    content: '';
    opacity: 0;
    transform: translate3d(0,50%,0);
  }

  figure.effect-sadie h2 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    color: #484c61;
    transition: transform 0.35s, color 0.35s;
    transform: translate3d(0,-50%,0);
  }

  figure.effect-sadie figcaption::before,
  figure.effect-sadie p {
    transition: opacity 0.35s, transform 0.35s;
  }

  figure.effect-sadie p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
    opacity: 0;
    transform: translate3d(0,10px,0);
  }

  figure.effect-sadie:hover h2 {
    color: #fff;
    transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
  }

  figure.effect-sadie:hover figcaption::before ,
  figure.effect-sadie:hover p {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

@media screen and (min-width: 850px) {
  main {
    width: 65%;
  }
}

@media screen and (min-width: 1000px) {
  main {
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
  .menu-text {
    display: none;
  }
}